# IDENTITY PROVIDER (KEYCLOAK)
# The base URL where your Keycloak Docker container is running
VITE_KEYCLOAK_URL=http://localhost:8080

# The exact name of the Realm
VITE_KEYCLOAK_REALM=inventory-management

# The Client ID
VITE_KEYCLOAK_CLIENT_ID=inventory-frontend

# BACKEND API
# The base URL for backend
VITE_API_BASE_URL=http://localhost:3000/api